/* local connect fonts */

/*
 * Inter
 */
@font-face {
  font-family: 'Inter';
  font-weight: 100;
  src: url('../fonts/Inter/Inter-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 200;
  src: url('../fonts/Inter/Inter-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 300;
  src: url('../fonts/Inter/Inter-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url('../fonts/Inter/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: url('../fonts/Inter/Inter-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: url('../fonts/Inter/Inter-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src: url('../fonts/Inter/Inter-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 800;
  src: url('../fonts/Inter/Inter-ExtraBold.ttf') format('truetype');
}

/*
 * SF-Pro
 */
@font-face {
  font-family: 'SF-Pro';
  font-weight: 400;
  src: url('../fonts/SF-Pro/Sf-Pro-Regular.OTF') format('opentype');
}

@font-face {
  font-family: 'SF-Pro';
  font-weight: 500;
  src: url('../fonts/SF-Pro/Sf-Pro-Medium.OTF') format('opentype');
}

@font-face {
  font-family: 'SF-Pro';
  font-weight: 600;
  src: url('../fonts/SF-Pro/Sf-Pro-Bold.OTF') format('opentype');
}

* {
  padding: 0;
  margin: 0;

  font-family: 'Inter', sans-serif;
}

header {
  position: relative;
  display: flex;
  margin: 40px auto 0;
  max-width: 1200px;

  .logo {
    width: 250px;

    & > img {
      width: 64px;
      height: 64px;
    }
  }

  .bullets {
    display: flex;
    width: 700px;

    & > ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 32px;
      flex: 1 0 0;

      & > li {
        list-style-type: none;
      }
    }
  }

  .mode {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    width: 250px;
  }
}

main {
  position: relative;
  scroll-behavior: smooth;

  .hero-block {
    position: relative;
    display: flex;
    align-items: center;
    margin: 20px auto;
    max-width: 1200px;

    .description {
      display: flex;
      flex-wrap: wrap;
      gap: 32px;
      color: var(--text-dark);

      & p {
        width: 100%;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
      }

      & > h1.title {
        font-size: 80px;
        font-style: normal;
        font-weight: 629;
        line-height: 88px;
        letter-spacing: -2.4px;

        & > span {
          color: var(--text-blue);
        }
      }

      & > .bots {
        width: 100%;
        margin-top: 24px;

        & > .images {
          margin-left: 36px;
          margin-bottom: 16px;

          & > img {
            margin-left: -36px;
          }
        }
      }
    }
  }

  .use-cases {
    position: relative;
    margin: 100px 0;
    padding: 196px 0;
    background: var(--dark-blue);

    .container {
      position: relative;
      display: flex;
      align-items: center;
      margin: 0 auto;
      max-width: 1200px;

      #carousel {
        position: relative;

        .items {
          position: relative;
          height: 492px;
          overflow: hidden;

          .item {
            display: flex;
            gap: 122px;
            transition: .25s;

            .description {
              display: flex;
              flex-wrap: wrap;
              gap: 32px;
              margin: auto 0;
              color: var(--text-light);

              & h2 {
                width: 100%;
                font-size: 56px;
                font-style: normal;
                font-weight: 629;
                line-height: 110%;
                letter-spacing: -1.68px;

                & > span {
                  color: var(--text-blue)
                }
              }

              & p {
                width: 100%;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
              }
            }
          }
        }
      }
    }
  }

  .features {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
      "currency currency currency currency currency"
      "commission commission stat stat stat"
      "exchange exchange stat stat stat"
      "verification verification verification anonymous anonymous";
    grid-gap: 20px;
    margin: 0 auto;
    padding: 44px 0;
    max-width: 1200px;

    & .card {
      position: relative;
      padding: 42px 56px;
      border-radius: 40px;
      background: var(--bg-light);

      & h3 {
        font-size: 42px;
        font-style: normal;
        font-weight: 600;
        line-height: 110%;
        letter-spacing: -1.26px;
        color: var(--text-dark);
        margin-bottom: 20px;
      }

      & p {
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 120%;
        color: var(--deep-darkgray);
      }
    }

    & > .currency {
      grid-area: currency;

      & .coins {
        position: relative;
        display: flex;
        justify-content: space-between;
        margin-top: 42px;

        & .coin {
          & > img {
            margin-bottom: 8px;
            transition: .25s;
          }

          & > span {
            display: block;
            text-align: center;
            width: 100%;
            color: var(--deep-gray);
            transition: .25s;
          }
        }

        & .zoomed > img {
          transform: scale(1.1);
        }

        & .zoomed > span {
          color: var(--deep-darkgray);
        }
      }
    }

    & > .commission {
      grid-area: commission;
      width: 488px;
      box-sizing: border-box;

      & .button-click {
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 37px;
        margin-bottom: 53px;

        &::before {
          content: '';
          position: absolute;
          bottom: -70%;
          right: 15px;
          background: url(../assets/features/commission/cursor.svg) no-repeat;
          width: 45.802px;
          height: 48.738px;
          transition: .5s;
          z-index: 1;
        }
      }

      & .button-click > img {
        border-radius: 17px;
      }

      &:hover .button-click::before {
        animation: cursor 2s ease-in-out;
      }

      &:hover .button-click > img {
        animation: button 2s ease-in-out;
      }
    }

    & > .stat {
      grid-area: stat;

      & .bg-message {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        max-height: 525px;
        border-radius: 24px;
        background-image: url(../assets/features/stat/bg.svg);
        margin-bottom: 20px;

        & .message-content {
          position: absolute;
          padding: 10px 15px;
          width: 438px;
          top: 47px;
          left: 50%;
          transform: translateX(-50%);
          background: #FFFFFF;
          border-radius: 16px 16px 7px 7px;
          transition: opacity, 0.25s ease-in-out;
          opacity: 1;
          color: var(--text-dark);
          box-sizing: border-box;

          &::before {
            content: '21:30';
            font-size: 12px;
            position: absolute;
            color: #a0a0a0;
            bottom: 10px;
            right: 15px;
          }

          & > p {
            font-family: 'SF-Pro', sans-serif;
            font-style: normal;
            font-weight: 400;

            &:nth-child(2) {
              margin: 22px 0;
            }

            &:last-child {
              margin-top: 22px;
            }

            & > span {
              font-size: 19px;
              font-style: normal;
              font-weight: 590;
              line-height: 22px;
              letter-spacing: -0.559px;
            }
          }
        }

        & .actions {
          position: absolute;
          display: flex;
          flex-wrap: wrap;
          gap: 4.7px;
          width: 438px;
          bottom: 47px;
          left: 50%;
          transform: translateX(-50%);
          box-sizing: border-box;

          & .action {
            display: flex;
            justify-content: center;
            align-items: center;
            width: calc(50% - (4.7px / 2));
            padding: 13px 0;
            border-radius: 7.8px;
            background: rgba(54, 136, 194, 0.82);
            color: white;
            transition: 0.25s ease-in-out;
            box-sizing: border-box;

            &:last-child {
              gap: 9px;

              &::before {
                content: url(../assets/features/stat/back.svg);
              }
            }
          }

          & .selected {
            display: flex;
            gap: 5px;
            background: rgba(32, 114, 172, 0.82);

            &::before {
              content: '·';
            }

            &::after {
              content: '·';
            }
          }

          & .action-full {
            width: 100%;
          }
        }
      }
    }

    & > .exchange {
      grid-area: exchange;

      & .swap {
        position: relative;
        margin: 0 45px 16px 45px;
        height: 106px;

        #svgBtcIcon {
          fill: transparent;
        }

        & > svg,
        & > img {
          position: absolute;
        }

        & #svgUsdt {
          z-index: 1;
          left: 0;

          & #svgUsdtTextUp,
          & #svgUsdtTextDown {
            fill: none;
            transition: fill .25s;
          }
        }

        & #svgBtc {
          z-index: 2;
          left: 34px;

          & #svgBtcText {
            fill: none;
            transition: fill .25s;
          }
        }

        & #svgTon {
          z-index: 3;
          left: 68px;

          & #svgTonText {
            transition: fill .25s;
          }
        }

        & #svgDollar {
          z-index: 4;
          top: -4px;
          right: 0;
        }

        & #svgBtn {
          z-index: 5;
          top: 50%;
          transform: translateY(-50%);
          right: 90px;
        }
      }

      &:hover {
        & #svgUsdt {
          animation: exUsdt 2s ease-in-out;

          & #svgUsdtTextUp,
          & #svgUsdtTextDown {
            animation: exUsdtText 2s ease-in-out;
          }
        }

        & #svgBtc {
          animation: exBtc 2s ease-in-out;

          & #svgBtcText {
            animation: exBtcText 2s ease-in-out;
          }
        }

        & #svgTon {
          animation: exTon 2s ease-in-out;

          & #svgTonText {
            animation: exTonText 2s ease-in-out;
          }
        }
      }
    }
    & > .verification {
      grid-area: verification;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 0;

      & .phone-down {
        position: relative;
        width: 462px;
        height: 350px;
        background-image: url(../assets/features/verification/phone-down.webp);
        background-position: center;
        background-size: cover;
        align-self: center;
        margin-bottom: 20px;

        & .message-content__v {
          position: absolute;
          display: flex;
          align-items: flex-start;
          gap: 7px;
          padding: 13px 19px 14px 15px;
          left: 31.5px;
          top: 75px;
          width: 366px;
          border-radius: 24px;
          box-shadow: 0 -2px 20px 0 rgba(0, 0, 0, 0.02);
          transition: transform .6s ease-in-out, scale .5s ease-in-out,
          opacity .5s ease-in-out;
          background: linear-gradient(98deg, #e8f2f9 15.04%, #e8f2f9 52.22%, #e9f1fa 90.93%);
          z-index: 2;

          &::before {
            content: 'now';
            font-size: 12px;
            position: absolute;
            color: #a0a0a0;
            top: 15px;
            right: 15px;
          }

          & p {
            font-family: 'SF-Pro', sans-serif;
            font-size: 17.24px;
            font-style: normal;
            font-weight: 400;
            line-height: 110%;
            letter-spacing: -0.517px;
            width: 90%;

            & > span {
              font-size: 17.24px;
              font-style: normal;
              font-weight: 600;
              line-height: 110%;
              letter-spacing: -0.517px;
            }

            &:last-child {
              margin-top: 14px;
            }

            & > img:first-child {
              margin-right: 5px;
            }

            & > img:last-child {
              margin-left: 5px;
            }
          }

          & .message-text__v {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 4px;

            & img {
              width: 20px;
              height: 20px;
              margin-bottom: -4px;
            }
          }
        }

        & .layer {
          opacity: .4;
          scale: .9;
          transition: .9s;
          transform: translateY(-20px);
          z-index: 0;
        }

        & .canceled {
          display: block;
          opacity: 0;
          transform: translateY(20px);
          z-index: -1;
        }
      }
    }
    & > .anonymous {
      grid-area: anonymous;

      & h3 {
        margin-top: 235px;
      }

      & .message-content__a {
        position: absolute;
        top: 42px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 32px;
        padding: 42px 24px;
        width: 86%;
        height: 215px;
        margin-bottom: 20px;
        background: linear-gradient(233deg, #9fccfa -20.48%, #0974f1 97.38%);
        box-sizing: border-box;

        & p {
          font-family: 'SF Pro', sans-serif;
          font-size: 18px;
          font-style: normal;
          font-weight: 300;
          line-height: 21px;
          letter-spacing: -0.534px;

          &:first-child {
            margin-bottom: 20px;
          }
        }

        & span {
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 21px;
          letter-spacing: -0.5px;
          color: #000;
        }

        & > .message-text__a {
          position: absolute;
          left: 26px;
          top: 21%;
          padding: 10px 15px;
          border-radius: 16px;
          background-color: white;
          max-width: 310px;
          opacity: 1;
          transition: transform .6s ease-in-out, scale .5s ease-in-out,
          opacity .5s ease-in-out;
          z-index: 1;

          &::before {
            content: url(../assets/features/anonymous/tail.svg);
            position: absolute;
            bottom: -4px;
            left: -5.43px;
          }

          &::after {
            content: '21:25';
            font-size: 12px;
            position: absolute;
            color: #a0a0a0;
            bottom: 13px;
            right: 15px;
          }

          & img {
            width: 18px;
            height: 18px;
            margin-bottom: -3px;
          }

          & .hard-emoji {
            position: absolute;
            left: 53px;
            bottom: 15px;
          }

          & .hands-emoji {
            position: absolute;
            left: 60px;
            bottom: 15px;
          }

          & .party-emoji {
            position: absolute;
            left: 108px;
            bottom: 15px;
          }
        }

        & .layer {
          opacity: .4;
          scale: .9;
          transition: .9s;
          transform: translateY(-20px);
          z-index: 0;
        }

        & .canceled {
          display: block;
          opacity: 0;
          transform: translateY(20px);
          z-index: -1;
        }
      }

      & .param {
        font-weight: 400;
      }
    }
  }
}

/* keyframes */
@keyframes cursor {
  25% {
    bottom: -40%;
    right: 50px;
  }
  65% {
    bottom: -40%;
    right: 50px;
  }
  90% {
    bottom: -70%;
    right: 15px;
  }
}

@keyframes button {
  25% {
    transform: scale(1);
    background: unset;
  }
  40% {
    transform: scale(1.1);
    background: rgba(217, 228, 242, .5);
  }
  65% {
    transform: scale(1);
  }
  75% {
    transform: scale(1);
    background: unset;
  }
  100% {
    transform: scale(1);
    background: unset;
  }
}

@keyframes exUsdt {
  16.666% { left: 34px; z-index: 3; }
  33.333% { left: 34px; z-index: 3; }
  49.999% { left: 68px; z-index: 4; }
  66.666% { left: 68px; z-index: 4; }
  83.333% { left: 0; z-index: 1; }
  100% { left: 0; z-index: 1; }
}
@keyframes exUsdtText {
  16.666% { fill: none }
  33.333% { fill: none }
  49.999% { fill: #FFFFFF }
  66.666% { fill: #FFFFFF }
  83.333% { fill: none }
  100% { fill: none }
}

@keyframes exBtc {
  16.666% { left: 68px; z-index: 4; }
  33.333% { left: 68px; z-index: 4; }
  49.999% { left: 0; z-index: 1; }
  66.666% { left: 0; z-index: 1; }
  83.333% { left: 34px; z-index: 3; }
  100% { left: 34px; z-index: 3; }
}
@keyframes exBtcText {
  16.666% { fill: #FFFFFF }
  33.333% { fill: #FFFFFF }
  49.999% { fill: none }
  66.666% { fill: none }
  83.333% { fill: none }
  100% { fill: none }
}

@keyframes exTon {
  16.666% { left: 0; z-index: 1; }
  33.333% { left: 0; z-index: 1; }
  49.999% { left: 34px; z-index: 3; }
  66.666% { left: 34px; z-index: 3; }
  83.333% { left: 68px; z-index: 4; }
  100% { left: 68px; z-index: 4; }
}
@keyframes exTonText {
  16.666% { fill: none }
  33.333% { fill: none }
  49.999% { fill: none }
  66.666% { fill: none }
  83.333% { fill: #FFFFFF }
  100% { fill: #FFFFFF }
}
