/* local connect fonts */
@font-face {
  font-family: 'Inter';
  font-weight: 100;
  src: url('../fonts/Inter-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 200;
  src: url('../fonts/Inter-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 300;
  src: url('../fonts/Inter-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url('../fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: url('../fonts/Inter-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: url('../fonts/Inter-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src: url('../fonts/Inter-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 800;
  src: url('../fonts/Inter-ExtraBold.ttf') format('truetype');
}

* {
  padding: 0;
  margin: 0;

  font-family: 'Inter', sans-serif;
}

header {
  position: relative;
  display: flex;
  margin: 40px auto 0;
  max-width: 1200px;

  .logo {
    width: 250px;

    & > img {
      width: 64px;
      height: 64px;
    }
  }

  .bullets {
    display: flex;
    width: 700px;

    & > ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 32px;
      flex: 1 0 0;

      & > li {
        list-style-type: none;
      }
    }
  }

  .mode {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    width: 250px;
  }
}

main {
  position: relative;
  scroll-behavior: smooth;

  .hero-block {
    position: relative;
    display: flex;
    align-items: center;
    margin: 20px auto;
    max-width: 1200px;

    .description {
      display: flex;
      flex-wrap: wrap;
      gap: 32px;
      color: var(--text-dark);

      & p {
        width: 100%;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
      }

      & > h1.title {
        font-size: 80px;
        font-style: normal;
        font-weight: 629;
        line-height: 88px;
        letter-spacing: -2.4px;

        & > span {
          color: var(--text-blue);
        }
      }

      & > .bots {
        width: 100%;
        margin-top: 24px;

        & > .images {
          margin-left: 36px;
          margin-bottom: 16px;

          & > img {
            margin-left: -36px;
          }
        }
      }
    }
  }

  .use-cases {
    position: relative;
    margin: 100px 0;
    padding: 196px 0;
    background: var(--dark-blue);

    .container {
      position: relative;
      display: flex;
      align-items: center;
      margin: 0 auto;
      max-width: 1200px;

      #carousel {
        position: relative;

        .items {
          position: relative;
          height: 492px;
          overflow: hidden;

          .item {
            display: flex;
            gap: 122px;
            transition: .25s;

            .description {
              display: flex;
              flex-wrap: wrap;
              gap: 32px;
              margin: auto 0;
              color: var(--text-light);

              & h2 {
                width: 100%;
                font-size: 56px;
                font-style: normal;
                font-weight: 629;
                line-height: 110%;
                letter-spacing: -1.68px;

                & > span {
                  color: var(--text-blue)
                }
              }

              & p {
                width: 100%;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
              }
            }
          }
        }
      }
    }
  }

  .features {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1.5fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "currency currency currency currency currency"
      "commission commission stat stat stat"
      "exchange exchange stat stat stat"
      "verification verification verification anonymous anonymous";
    grid-gap: 20px;
    margin: 0 auto;
    padding: 44px 0;
    max-width: 1200px;

    & .card {
      position: relative;
      padding: 42px 56px;
      border-radius: 40px;
      background: var(--bg-light);

      & h3 {
        font-size: 42px;
        font-style: normal;
        font-weight: 600;
        line-height: 110%;
        letter-spacing: -1.26px;
        color: var(--text-dark);
        margin-bottom: 20px;
      }

      & p {
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 120%;
        color: var(--deep-darkgray);
      }
    }

    & > .currency {
      grid-area: currency;

      & .coins {
        position: relative;
        display: flex;
        justify-content: space-between;
        margin-top: 42px;

        & .coin {
          & > img {
            margin-bottom: 8px;
            transition: .25s;
          }

          & > span {
            display: block;
            text-align: center;
            width: 100%;
            color: var(--deep-gray);
            transition: .25s;
          }

          &:hover > img {
            transform: scale(1.1);
          }

          &:hover > span {
            color: var(--deep-darkgray);
          }
        }
      }
    }

    & > .commission {
      grid-area: commission;

      & .button-click {
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 37px;
        margin-bottom: 53px;

        &::before {
          content: '';
          position: absolute;
          bottom: -70%;
          right: 15px;
          background: url(../assets/features/commission/cursor.svg) no-repeat;
          width: 45.802px;
          height: 48.738px;
          transition: .5s;
          z-index: 1;
        }
      }

      & .button-click > img {
        border-radius: 17px;
      }

      &:hover .button-click::before {
        animation: cursor 2s ease-in-out infinite;
      }

      &:hover .button-click > img {
        animation: button 2s ease-in-out infinite;
      }
    }

    & > .stat {
      grid-area: stat;

      & .message {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        max-height: 555px;
        border-radius: 24px;
        background-image: url(../assets/features/stat/bg.png);
        margin-bottom: 24px;
      }
    }

    & > .exchange {
      grid-area: exchange;

      & .swap {
        position: relative;
        margin: 0 45px 16px 45px;
        height: 106px;

        #svgBtcIcon {
          fill: transparent;
        }

        & > svg,
        & > img {
          position: absolute;
        }

        & #svgUsdt {
          z-index: 1;
          left: 0;

          & #svgUsdtTextUp,
          & #svgUsdtTextDown {
            fill: none;
            transition: fill .25s;
          }
        }

        & #svgBtc {
          z-index: 2;
          left: 34px;

          & #svgBtcText {
            fill: none;
            transition: fill .25s;
          }
        }

        & #svgTon {
          z-index: 3;
          left: 68px;

          & #svgTonText {
            transition: fill .25s;
          }
        }

        & #svgDollar {
          z-index: 4;
          top: -4px;
          right: -18px;
        }

        & #svgBtn {
          z-index: 5;
          top: 50%;
          transform: translateY(-50%);
          right: 72px;
        }
      }

      &:hover {
        & #svgUsdt {
          animation: exUsdt 2s ease-in-out infinite;

          & #svgUsdtTextUp,
          & #svgUsdtTextDown {
            animation: exUsdtText 2s ease-in-out infinite;
          }
        }

        & #svgBtc {
          animation: exBtc 2s ease-in-out infinite;

          & #svgBtcText {
            animation: exBtcText 2s ease-in-out infinite;
          }
        }

        & #svgTon {
          animation: exTon 2s ease-in-out infinite;

          & #svgTonText {
            animation: exTonText 2s ease-in-out infinite;
          }
        }
      }
    }
    & > .verification { grid-area: verification }
    & > .anonymous    { grid-area: anonymous }
  }
}

/* keyframes */
@keyframes cursor {
  25% {
    bottom: -40%;
    right: 50px;
  }
  65% {
    bottom: -40%;
    right: 50px;
  }
  90% {
    bottom: -70%;
    right: 15px;
  }
}

@keyframes button {
  25% {
    transform: scale(1);
    background: unset;
  }
  40% {
    transform: scale(1.1);
    background: rgba(217, 228, 242, .5);
  }
  65% {
    transform: scale(1);
  }
  75% {
    transform: scale(1);
    background: unset;
  }
  100% {
    transform: scale(1);
    background: unset;
  }
}

@keyframes exUsdt {
  16.666% { left: 34px; z-index: 3; }
  33.333% { left: 34px; z-index: 3; }
  49.999% { left: 68px; z-index: 4; }
  66.666% { left: 68px; z-index: 4; }
  83.333% { left: 0; z-index: 1; }
  100% { left: 0; z-index: 1; }
}
@keyframes exUsdtText {
  16.666% { fill: none }
  33.333% { fill: none }
  49.999% { fill: #FFFFFF }
  66.666% { fill: #FFFFFF }
  83.333% { fill: none }
  100% { fill: none }
}

@keyframes exBtc {
  16.666% { left: 68px; z-index: 4; }
  33.333% { left: 68px; z-index: 4; }
  49.999% { left: 0; z-index: 1; }
  66.666% { left: 0; z-index: 1; }
  83.333% { left: 34px; z-index: 3; }
  100% { left: 34px; z-index: 3; }
}
@keyframes exBtcText {
  16.666% { fill: #FFFFFF }
  33.333% { fill: #FFFFFF }
  49.999% { fill: none }
  66.666% { fill: none }
  83.333% { fill: none }
  100% { fill: none }
}

@keyframes exTon {
  16.666% { left: 0; z-index: 1; }
  33.333% { left: 0; z-index: 1; }
  49.999% { left: 34px; z-index: 3; }
  66.666% { left: 34px; z-index: 3; }
  83.333% { left: 68px; z-index: 4; }
  100% { left: 68px; z-index: 4; }
}
@keyframes exTonText {
  16.666% { fill: none }
  33.333% { fill: none }
  49.999% { fill: none }
  66.666% { fill: none }
  83.333% { fill: #FFFFFF }
  100% { fill: #FFFFFF }
}
