:root {
  --deep-blue: rgba(41, 126, 226, 1);
  --deep-darkgray: rgba(17, 17, 17, 0.8);
  --deep-gray: rgba(17, 17, 17, 0.4);
  --text-light: #FFFFFF;
  --text-dark: #0D0D12;
  --text-blue: #41A4DF;
  --dark-blue: #232328;
  --bg-light: #F7F9FB;

  /* button */
  --bg-button-primary: #41A4DF;
  --bg-button-primary__hover: #297EE2;

  --bg-button-secondary: rgba(41, 126, 226, 0.12);
  --bg-button-secondary__hover: rgba(65, 164, 223, 0.16);

  --border-button-dark: rgba(255, 255, 255, .6);
  --border-button-dark__hover: rgba(255, 255, 255, 1);

  /* link */
}
